{% extends 'base.html' %}
{% load static %}
{% block content %}


  <section class="hero">
    <h2>Freshly Prepared Pastries & Catering</h2>
    <p>Premium snacks, desserts, and catering services for every occasion.</p>
    <a class="btn" href="https://wa.me/2347085950959">Order on WhatsApp</a>
</section>


<section class="highlights">
    <div>
        <img src="{% static 'images/meatpie.jpg' %}" width="100%">
        <p>Premium Pastries</p>
    </div>
    <div>
        <img src="{% static 'images/doughnut.jpg' %}" width="100%">
        <p>Desserts & Parfaits</p>
    </div>
    <div>
        <img src="{% static 'images/smallchops.jpg' %}" width="100%">
        <p>Event Catering</p>
    </div>
    <div>
        <img src="{% static 'images/smallchops1.jpg' %}" width="100%">
        <p>Event Catering</p>
    </div>
    <div>
      <img src="{% static 'images/cupcakes.jpg' %}" width ="100%" />
    </div>
    <div>
      <img src="{% static 'images/parfait.jpg' %}" width ="100%" />
    </div>
    <div>
      <img src="{% static 'images/chinchin.jpg' %}" width ="100%" />
    </div>
    <div>
      <img src="{% static 'images/spag.jpg' %}" width=" 100%" />
    </div>
    <div>
      <img src="{% static 'images/jollofrice.jpg' %}" width=" 100%" />
    </div>
    <div>
      <img src="{% static 'images/friedchicken.jpg' %}" width=" 100%" />
    </div>
    <div>
      <img src="{% static 'images/cartonoffood.jpg' %}" width=" 100%" />
    </div>
</section>

<p class="notice">Cakes are available on request. Limited slots apply.</p>

{% endblock %}