{% extends 'base.html' %}
{% block content %}
{% load static %}
<h1>Our Services</h1>

<h2>Premium Pastries</h2>
<h3>Cakes</h3>

<section class ="highlights">
  <div>
        <img src="{% static 'images/cake.jpg' %}" width="100%">
        <p>Premium Pastries</p>
    </div>
  
  <div>
        <img src="{% static 'images/cake1.jpg' %}" width="100%">
        <p>Premium Pastries</p>
    </div>
  
  <div>
        <img src="{% static 'images/cake2.jpg' %}" width="100%">
        <p>Premium Pastries</p>
    </div>
    
</section>
<h3>Meat Pies</h3>

<section class="highlights">
<div>
        <img src="{% static 'images/meatpie.jpg' %}" width="100%">
        <p>Premium Pastries</p>
    </div>
    
<div>
        <img src="{% static 'images/meatpie3.jpg' %}" width="100%">
        <p>Premium Pastries</p>
    </div>
    

</section>

<h3>Sausage rolls</h3>

<section class="highlights">
<div>
  <img src="{% static 'images/sausageroll.jpg' %}" width="100%">
        <p>Premium Pastries</p>
    </div>

<div>
  <img src="{% static 'images/sausageroll2.jpg' %}" width="100%">
        <p>Premium Pastries</p>

</div>
</section>

<h3>Doughnuts</h3>

<section class="highlights">
  <div>
    
  <img src="{% static 'images/doughnut.jpg' %}" width="100%">
        <p>Premium Pastries</p>
    
  </div>
        
  <div>
    
  <img src="{% static 'images/doughnut1.jpg' %}" width="100%">
        <p>Premium Pastries</p>
    
  </div>
        
  <div>
  <img src="{% static 'images/doughnut2.jpg' %}" width="100%">
        <p>Premium Pastries</p>
    
  </div>
</section>

<h3>Chin Chin</h3>

<section class="highlights">
  
  <div>
    <img src="{% static 'images/chinchin2.jpg' %}" width ="100%">
        <p>Premium Pastries</p>
  </div>
  <div>
    <img src="{% static 'images/chinchin1.jpg' %}" width ="100%">
        <p>Premium Pastries</p>
  </div>
</section>
<h2>Desserts</h2>
<h3>Parfait cups</h3>

<h3>Cupcakes</h3>
    
</ul>

<h3>Event & Catering</h3>
<ul>
    <li>Small chops for events</li>
    <li>Light meals & party dishes</li>
    <li>Custom food trays</li>
</ul>

<p class="price-note">
    Prices start from ₦—<br>
    Final pricing depends on menu selection, quantity, and event size.
</p>

{% endblock %}